<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title: Thymeleaf attributes</title>
</head>
<!-- background标签 -->
<body th:background="${th_background}" background="#D0D0D0">
<!-- text标签 -->
<h1 th:text="${tile}">
    text标签
</h1>
<div>
    <h5>
        id、name、value标签:
        <!-- id、name、value标签-->
        <input id="input1" name="input1" value="1" th:id="${th_id}" th:name="${th_name}" th:value="${th_value}"/>
    </h5>
</div>
<br />
<div class="div1" th:class="${th_class}">
    <h5>
        class、href标签：
    </h5>
    <a th:href="${th_href}" href="##/">链接地址</a>
</div>
</body>
</html>